header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: relative;
}
.headerBG{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;  
}
.headerInfo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.logo{
    height: 50px;
    pointer-events: none;
    margin-top: 30px;
}

.score{
    color: #fff;
    font-size: 20px;
}

.pa{ 
    z-index: 10000;
    position: relative;
}

.pe{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.peRed{ 
    box-shadow: 0px 0px 0px 10px rgba(255 , 0 , 0 , .5) ,
                0px 0px 0px 20px rgba(255 , 0 , 0 , .2) ;
}

.peWrapper{
    width: 100px;
    height: 100px; 
    position: fixed;
}

.peRed + .trace{
    background: linear-gradient(0deg, red, transparent);
}

.trace{ 
    position: absolute;
    width: 100%;
    bottom: 55%;
    left:  0px;
    height: 200px;
    z-index: -100;
    transition: all .1s ease-in-out;
}

.hideZone{
    transition: all .3s ease;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

.hideZone.hide{
    top: -101%;
}

.mainScore{
    color: #cacaca;
    font-size: 100px;
    top: 45px;
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
}

/* Destantion */

.destantionWrapper{
    width: 100px;
    height: 400px;
    /* background: pink; */
    position: fixed; 
    /* right: 0;
    bottom: 200px; */
    align-self: center;
    display: flex; 
    justify-content: center;
}

.destantionLine{
    background: linear-gradient(to bottom , rgba(0,0,0,.0) , red , rgba(0,0,0,.0) );
    border-radius: 100px;
    width: 10px;
    height: 100%; 
}

.destantionItem{
    border-radius: 100px;
    width: 30px;
    height: 30px; 
    display: flex; 
    position: absolute;
}